.main-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.multi-select {
  min-width: 800px;
  max-width: 100%;
}

.calendars-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  height: 100%;
  max-width: 100%;
}
